html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
ol, ul{
  list-style: none;
}

header{
  position: relative;
}

#header li{
  display: inline-block;

}

#header>#main_menu>ul{
  text-align: center;

}
#header>#main_menu>ul>li{
  padding: 10px 0
}

header>hgroup{
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 25px;
}
header>hgroup>h1{
  margin: 10px 0 10px 0;
  font-size: 40px;
}
header>hgroup>h4{
  font-weight: normal;
  margin-top: 0px;
  font-size: 15px;
  color: #a3bfdb;
}
#header{
  background-color: #333399;
  padding: 5px 0px;
}

#header>header{
  z-index: 14;

}
#header>header>#left_nav{
  color: #999;
  z-index: 1000;
  text-decoration: none;
  position: absolute;
  left: 10px;
  top: 0px;
  padding-top: 5px;
}
#header>header>#left_nav a{
  padding: 0px 5px;
}
#header>header>#left_nav a:hover{
  color: white;
}
#header>header>a{
  text-decoration: inherit;
}

#header>header>#right_nav{
  z-index: 1000;
  color: #999;
  position: absolute;
  top: 0px;
  right: 10px;
  padding-top: 5px;
}
#header>header>#right_nav .title{
  padding: 0 10px;
}
#header>header>#right_nav a:hover{
  color: white;
}

#main_menu{
  z-index: 11;
}
#main_menu a:hover{
  color: white;
}

#button_home{
  margin-right: 20px;
  font-weight: bold;
}
a{
  text-decoration: inherit;
  color: inherit;
}

.label{
  border-left: 1px solid #666
}

li:first-child>div.label{
  border-left: 0
}

a.course_link{
  color: #ddd;
  padding: 10px 15px;
}

/* for body */
#body>#present_nav{
  height: 40px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

#body>#real_body{
  /* TODO: have to fix it to come in the central*/

  margin: 0 auto;
  width: 980px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  display: flex;
}

#body>#real_body>#navigator{
  padding-top: 15px;
  width: 250px;
  float: left;
  border-right: 1px solid #ddd;
}

#body>#real_body .topic_name{
  padding-left: 30px;
  padding-bottom: 5px;
  font-weight: bold;

}

#body>#real_body>#article{
  float: left;
  width: 730px;
  min-height: 400px; /*for test*/

}
#body>#real_body>#article>article{
  padding: 40px 35px 40px 35px;
}
#body>#real_body>#article>article>hgroup{
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
  margin-bottom: 2em;
}
#body>#real_body>#article>article>hgroup>h1{
  font-size: 35px;
  font-weight: normal;
}
#body>#real_body>#article>article>h2{
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
}
#body>#real_body>#article>article>p{
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.subject_item{
  padding: 5px 0px 5px 30px;
  color: grey;
}
.subject_item:hover{
  background-color: #eee;
  color: green;
}
