html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

ol, ul{
  list-style: none;
}

header{
  position: relative;
}

#header li{
  display: inline-block;

}

#header>#main_menu>ul{
  text-align: center;

}
#header>#main_menu>ul>li{
  padding: 10px 0
}

header>hgroup{
  text-align: center;
  color: white;
  padding: 15px 0;
}
header>hgroup>h1{
  margin: 10px 0 10px 0;
  font-size: 40px;
}
header>hgroup>h4{
  font-weight: normal;
  margin-top: 0px;
  font-size: 15px
}
#header{
  background-color: #333399
}

#header>header{
  z-index: 14;

}
#header>header>#left_nav{
  color: #999;
  z-index: 1000;
  display: inline;
  text-decoration: none;
}
#header>header>a{
  text-decoration: inherit;
}

#header>header>#right_nav{
  z-index: 1000;
}

#main_menu{
  z-index: 11;
}
a{
  text-decoration: inherit;
  color: inherit;
}

.label{
  border-left: 1px solid #666
}

li:first-child>div.label{
  border-left: 0
}

a.course_link{
  color: #ddd;
  padding: 10px 15px;
}
